.tx-pb-social .pb-list {
  position: relative;
  width: 100%;
  margin: 10px 0 0 -10px;
}
.tx-pb-social .pb-list .col {
  float: left;
  width: 250px;
}
.tx-pb-social .pb-list-item {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 250px;
  height: 250px;
  margin: 10px 0 0 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.tx-pb-social .pb-list-item .image {
  position: absolute;
  height: 250px;
  top: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  cursor: pointer;
}
.tx-pb-social .pb-list-item .icon {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 32px;
  width: 32px;
  border-radius: 5px;
  cursor: pointer;
  background-size: 32px 32px;
}
.tx-pb-social .pb-list-item .text {
  position: absolute;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 10px 10px 25px 10px;
  height: 80px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}
.tx-pb-social .pb-list-item .text:hover {
  text-decoration: underline;
}
.tx-pb-social .pb-list-item .additional-info {
  box-sizing: border-box;
  position: absolute;
  color: #ffffff;
  width: 30px;
  height: 20px;
  bottom: 2px;
  text-align: right;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
.tx-pb-social .pb-list-item .additional-info.info-1 {
  right: 65px;
}
.tx-pb-social .pb-list-item .additional-info.info-2 {
  right: 20px;
}
.tx-pb-social .pb-list-item .video-overlay {
  position: absolute;
  bottom: 95px;
  left: 95px;
  width: 64px;
  height: 64px;
  opacity: 0.90;
  cursor: pointer;
}
.tx-pb-social .pb-list-item[data-type="video"] .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}
.tx-pb-social .pb-list-item[data-type="video"] .video-overlay {
  top: 95px;
  bottom: auto;
}
.tx-pb-social .pb-list-item-facebook .icon {
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/facebook.png");
}
.tx-pb-social .pb-list-item-facebook .placeholder-image{
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/Placeholder/fb.jpg");
}
.tx-pb-social .pb-list-item-googleplus .icon {
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/google+.png");
}
.tx-pb-social .pb-list-item-googleplus .placeholder-image {
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/Placeholder/gplus.jpg")
}
.tx-pb-social .pb-list-item-instagram .icon {
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/instagram.png");
}
.tx-pb-social .pb-list-item-pinterest .icon {
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/pinterest.png");
}
.tx-pb-social .pb-list-item-tumblr .icon {
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/tumblr.png");
}
.tx-pb-social .pb-list-item-tumblr .placeholder-image {
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/Placeholder/tumblr.jpg")
}
.tx-pb-social .pb-list-item-twitter .icon {
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/twitter.png");
}
.tx-pb-social .pb-list-item-twitter .placeholder-image{
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/Placeholder/twitter.jpg");
}
.tx-pb-social .pb-list-item-imgur .icon {
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/imgur.png");
}
.tx-pb-social .pb-list-item-youtube .icon {
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/youtube.png");
}
.tx-pb-social .pb-list-item-youtube .placeholder-image{
    background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/Placeholder/yt.jpg");
}
.tx-pb-social .pb-list-item-vimeo .icon {
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/vimeo.png");
}
.tx-pb-social .pb-list-item-vimeo .placeholder-image{
  background-image: url("/typo3conf/ext/pb_social/Resources/Public/Icons/Placeholder/vimeo.jpg");
}
