<div class="pb-list-item pb-list-item-googleplus pb-hidden" data-type="{feed.raw.object.attachments.0.objectType}" data-url="{feed.link}">
	<f:if condition="{feed.image}">
		<f:then>
			<div class="image" style="background-image: url({feed.image})"></div>
		</f:then>
		<f:else>
			<div class="image placeholder-image"></div>
		</f:else>
	</f:if>
	<f:if condition="{feed.text}">
		<span class="text">{feed.text}</span>
	</f:if>
	<div class="icon"></div>
	<a class="additional-info info-1" href="{feed.link}">{feed.raw.object.replies.totalItems}</a>
	<a class="additional-info info-2" href="{feed.link}">{feed.raw.object.plusoners.totalItems}</a>
	<f:if condition="{0:feed.raw.object.attachments.0.objectType}=={0:'video'}">
		<img class="video-overlay" src="/typo3conf/ext/pb_social/Resources/Public/Icons/play_icon.png"/>
	</f:if>
</div>